<h1>This is our ride-share homepage</h1>
<%# TODO: we have to put the nav bar to the layouts, so that all the pages can use the same nav bar template%>
<nav><%= link_to "View Passengers", passengers_path %></nav>
<nav><%= link_to "Add a Passenger", new_passenger_path %></nav>
<nav><%= link_to "View Drivers", drivers_path %></nav>
<nav><%= link_to "Add a Driver", new_driver_path %></nav>
