<section class="container">
  <h4>Please provide the following information to edit the passenger (ID: <%= @passenger.id %>) in our database:</h4>
  <%= render partial: "form", locals: { action_name: "Edit" } %>
</section>