<h2>EDIT passenger page</h2>

<% if @passenger.errors.any? %>
  <ul>
  <% @passenger.errors.each do |column, message| %>
    <li><%= column.capitalize %> <%= message %></li>
  <% end  %>
  </ul>
<%end  %>

<%= render partial: "form",locals: { action_name: "Edit" } %>