<h2>each passenger</h2>
<%= @passenger.name %>
<%= @passenger.phone_num %>

<%= link_to "EDIT", edit_passenger_path(@passenger.id) %>

<%= link_to "DELETE", passenger_path(@passenger.id),method: :delete, data:{confirm: "are you sure you want to delete this passenger?"}  %>